.App section {
  padding: 1vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ul {
  list-style: none;
}

.App-header ul li {
  display: inline-block;
  padding: 0.25vw 1vw;
}

.App-link {
  color: #61dafb;
}

.status {
  font-style: italic;
}

.spinner {
  margin: 5rem;
  animation: .5s linear 0s App-logo-spin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
